 .Body{
    padding-top: 10px;
    box-sizing: border-box;
 }
 .Body-c{
    display: grid;
    padding: 10px;
    width: 100%;
    overflow-x: scroll;
    grid-auto-flow: column;
    scroll-behavior: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    align-items: center;
 }
 .Body-Image{  
    display: flex;
    gap: 5px;
 }

 /* From Uiverse.io by xopc333 */ 
 .card {
    position: relative;
    display: flex;
    width: 200px;
    height: 320px;
    background: #C6C6D0;
    color: #212121;
    box-shadow: inset 0 0 0 4px #212121;
    transition: .6s 0.4s;
    cursor: pointer;
    + .card{
        margin-left: 10px;
    }
  }
  
  .border {
    position: absolute;
    inset: 0;
  }
  
  .border line {
    stroke-width: 4px;
    stroke: #C6C6D0;
    fill: none;
    transition: .6s ease-in-out;
  }
  
  .border line.top,
  .border line.bottom {
    stroke-dasharray: 200;
  }
  
  .border line.left,
  .border line.right {
    stroke-dasharray: 320;
  }
  
  .logo {
    width: 100%;
    height: 100%;
    margin: auto;
    fill: #212121;
    transition: .6s;
    opacity: 0.9;
    display: grid;
    place-items: center;
    img{
        object-fit: cover;
        height: 90%;
        width: 90%;
    }
  }
  
  .card:hover {
    background-color: transparent;
    transition-delay: 0s;
  }
  
  .card:hover .border line {
    transition-delay: 0.1s;
  }
  
  .card:hover .border line.top {
    transform: translateX(-400px);
  }
  
  .card:hover .border line.bottom {
    transform: translateX(400px);
  }
  
  .card:hover .border line.left {
    transform: translateY(640px);
  }
  
  .card:hover .border line.right {
    transform: translateY(-640px);
  }
  
  .card:hover .logo {
    transition-delay: 0s;
    transform: scale(1.1);
    fill: #C6C6D0;
    filter: drop-shadow( 0 0 30px #C6C6D080);
    opacity: 0.9;
  }
  @media only screen and (max-width: 78.75em){

  }
  @media only screen and (max-width: 62.5em){
      
  }
  @media only screen and (max-width : 46.25em){

  }
  @media only screen and (max-width : 30em){

  }