.Home{
    width: 100%;
    display: grid;
    place-items: center;
    padding-bottom: 160px;
}
.Home-body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width : 46.25em){
    .Home-body{
        flex-direction: column;
    }
  }
  @media only screen and (max-width : 30em){
  
  }