.Timer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    span{
        margin-top: 10px;
        font-style: italic;
        color: white;
    }
}
input[type="number"] {
    display: inline-block;
    width: 250px;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: #212123;
    outline: none;
}

input[type="number"]:out-of-range {
    border: 3px solid #ff0000;
    box-shadow: 0 2px 10px #ff0000;
}

input[type="number"]:in-range {
    border: 3px solid #008000;
    box-shadow: 0 2px 10px #008000;
}